# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/*

# byte-compiled python files
*.py[cod]

/.vs

/app
/tools
link_app.*
exts/deemos.chatavatar.import_tool/deemos/chatavatar/import_tool/resources
